<sly
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-test.ready="${footer.ready}"></sly>
<div class="box">
	<div class="forgotpassword-form">
		<form method="post" action="#" id="forgotpassword-form-gm">
			<p class="Login">${properties['title'] || 'PASSWORD RECOVERY' @
				i18n}</p>
			<p class="Enter-the-email-youre-using-for-your-account">${properties['message']
				|| 'Enter the email you’re using for your account.' @ i18n,
				context='html'}</p>
			<input type="email" id="fpf_emailaddress"
				placeholder="${properties['emailAddressPh'] || 'Email Address' @ i18n}" name="Email Address" required />
			<div style="display:none" class="forgotpassword-form-email-error">${properties['emailError'] || 'Email is not valid' @ i18n}</div>
			<p
				class="Gore-CC---01-Login---03-Password-recovery---01-Default---Desktop"></p>
			<button class="Buttons-Primery-Black-Fixed-Enabled" id="fpf_continue_button" type="submit">${properties['btnLabel']
				|| 'Continue' @ i18n}</button>
			<input type="hidden" value="${properties['emailSubject']}" id="fpf_email_subject" name="fpf_email_subject" >
		</form>
	</div>
</div>

<div class="thank-you-success" style="${(wcmmode.disabled || wcmmode.preview) ? 'display:none' : '' @ context='unsafe'}"
	data-sly-resource="${'success' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
<div class="thank-you-error" style="${(wcmmode.disabled || wcmmode.preview) ? 'display:none' : '' @ context='unsafe'}"
	data-sly-resource="${'error' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>