<sly
	data-sly-use.modelCache="com.adobe.aem.commons.assetshare.util.ModelCache"
	data-sly-use.pwdreset="com.gore.marketing.core.models.ResetPassword"
	data-sly-test.config="${modelCache['com.adobe.aem.commons.assetshare.configuration.Config']}"></sly>
<div class="resetpassword-form">
	<div class="pwdreset-error" data-sly-test="${wcmmode.disabled && pwdreset.error}">
		${properties['urlError'] || 'Password reset url is invalid.' @ i18n}
	</div>
	<div class="pwdreset-error" data-sly-test="${wcmmode.disabled && pwdreset.completed}">
		${properties['expiredError'] || 'Password reset url is expired.' @ i18n}
	</div>
	<form method="post" action="#" id="resetpassword-form-gm" data-sly-test="${!wcmmode.disabled || (!pwdreset.error && !pwdreset.completed)}">
		<h1>${properties['formTitle'] || 'PASSWORD RECOVERY' @ i18n}</h1>
		<div class="resetpassword-form-email">
			${properties['emailLbl'] || 'Email' @ i18n}: <strong><span id="prf_email">${pwdreset.email}</span></strong>
		</div>
		<div class="resetpassword-form-pwd-label">${properties['pwdLbl'] || 'New Password' @ i18n}</div>
		<input type="password" name="password" id="prf_password" required>
		<div style="display:none" class="resetpassword-form-pwd-error">${properties['pwdError'] || 'Password format is not valid' @ i18n}</div>
		<div class="resetpassword-form-foreword" data-sly-test="${properties['hints']}">
			${properties['hints'] @ context='html'}
		</div>
		<button type="submit" disabled
			id="resetpassword-form-gm-submit" class="Submit-Contact">
				${properties['lblSubmit'] || 'Continue' @ i18n}
		</button>
		<input type="hidden" value="${properties['emailSubject']}" id="prf_email_subject" name="prf_email_subject" >
		<input type="hidden" value="${pwdreset.resetKey || request.requestParameterMap['rk'][0].toString}" id="prf_resetkey" name="prf_resetkey" >
	</form>
</div>
<div class="thank-you-success" style="${(wcmmode.disabled || wcmmode.preview) ? 'display:none' : '' @ context='unsafe'}"
	data-sly-resource="${'success' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
<div class="thank-you-error" style="${(wcmmode.disabled || wcmmode.preview) ? 'display:none' : '' @ context='unsafe'}"
	data-sly-resource="${'error' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>